{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script type="module" src="{% static 'dashboard.js' %}" defer></script>
{% endblock %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  {{ watch_stock|json_script:'watch-stock' }}

  <h1>Dashboard</h1>

  <h1>Stocks</h1>
  <ul>
    {% for stock in stocks_list %}
      <li>
        {{ stock.ticker }} : {{ stock.exchange }}
        {% if delete_stock == stock %}
          {% include 'includes/stock_confirm_delete.html' %}
        {% else %}
          <a href="{% url 'stocks:watch' slug=stock.slug %}">{% include 'includes/button.html' with name='watch-button' id=stock.id color='teal' text='Watch' %}</a>
          <a href="{% url 'stocks:delete' slug=stock.slug %}">{% include 'includes/button.html' with type='submit' color='rose' text='Remove' %}</a>
        {% endif %}
      </li>
    {% empty %}
      <li>No stocks yet.</li>
    {% endfor %}
  </ul>

  {% if add_stock %}
    <div class="w-1/4 my-6 p-6 mt-10 bg-white shadow-lg rounded-xl">
      {% include 'includes/form.html' with form=form form_title='Add Stock' %}
    </div>
    <a href="{% url 'stocks:dashboard' %}">{% include 'includes/button.html' with color='rose' text='Cancel' %}</a>
  {% else %}
    <a href="{% url 'stocks:add' %}">{% include 'includes/button.html' with color='cyan' text='Add Stock' %}</a>
  {% endif %}

  <div>
    <canvas id="stock-price-chart"></canvas>
  </div>
{% endblock %}
