{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script type="module" src="{% static 'dashboard.js' %}" defer></script>
{% endblock %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  {{ watch_stock|json_script:'watch-stock' }}
  {{ watch_stock_config|json_script:'watch-stock-config' }}

  <div class="flex flex-1">
    <div class="{{ cardClass }} flex-none text-center items-center">
      <h1 class="{{ cardTitleClass }}">Stocks</h1>
      <ul class="py-6">
        {% for stock in stocks_list %}
          <li class="w-full">
            {% if delete_stock == stock %}
              {% include 'includes/stock_confirm_delete.html' %}
            {% else %}
              {% if watch_stock.slug == stock.slug %}
                {% include 'includes/stock_tag.html' with stock=stock selected='1' %}
              {% else %}
                {% include 'includes/stock_tag.html' with stock=stock %}
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
        {% if create_stock %}
          <li>
            {% include 'includes/stock_add.html' with form=form %}
          </li>
        {% endif %}
      </ul>

      <div>
        {% if create_stock %}

        {% else %}
          <a href="{% url 'stocks:add' slug=watch_stock.slug %}">{% include 'includes/button.html' with class='w-2/3' color='cyan' text='<i class="bi bi-plus-circle"></i> Add Stock' %}</a>
        {% endif %}
      </div>
    </div>
    <div class="{{ cardClass }} flex-1">
      <div class="{{ cardTitleClass }} flex">
        {% if watch_stock %}
          <h1 class="flex-1">
            {% if watch_stock.title %}
              {{ watch_stock.title }}
            {% else %}
              {{ watch_stock.ticker }}
            {% endif %}
          </h1>
          {% if update_user_stock_config %}
            {% include 'includes/stock_config.html' %}
          {% else %}
            <a href="{% url 'stocks:config' slug=watch_stock.slug %}">{% include 'includes/icon_button.html' with icon='sliders' color='cyan' %}</a>
          {% endif %}
        {% else %}
          <h1>Add Stock to Watch</h1>
        {% endif %}
      </div>
      <div class="pt-3 h-5/6 my-3">
        <div id="stock-price-chart-message-div" style="display: none;">
          <p>Please, wait a few minutes.</p>
          <p>This is a new stock in our database, so we have no prices registered yet.</p>
        </div>
        <canvas id="stock-price-chart-canvas"></canvas>
      </div>
    </div>
  </div>
{% endblock %}
